@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic);
.html{
	overflow-x:hidden
}

body {
	font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
	width: 100%;
	margin: 0px;
 	background: #0af;
	color: #fefefe;
	overflow-x:hidden
}

.btn {
	display: inline-block;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
	padding: 8px 16px;
	border-style: solid;
	border-width: 1px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	font-size: 13px;
	right: 10px;
}

input[type=file] {
	opacity: 0;
	visibility: hidden;
	height: 0;
}
input[type=button] {
	opacity: 0;
	visibility: hidden;
	height: 0;
}

.nickname{
position: absolute;
	top:150px;
	left:50px;
	z-index:1;
	visibility: hidden;
}
.nickname input{
	font-size: 18px
}

#dropBtn{
	border: 2px dashed #eee;
	display: none;
/* 	visibility:hidden; */
}

/* .undo{ */
/* 	display:inline-block; */
/* 	visibility: hidden; */
/* 	top:-30px; */
/* } */

.undo{
	position:relative;
	top:-38px;
	left:10px;
	visibility: hidden;
}

.fileupImg {
	position: absolute;
	display: inline-block;
	margin:auto;
	top:100px;
	left:110px;
	z-index:1;
	visibility: hidden;
}

.fileupImg span{
	position: relative;
	top:-35px;
	left:-15px;
}

.filedownImg{
	position: relative;
/* 	left: 50px; */
 	top: -40px;
	visibility: hidden;
}

#mailLink {
	position: relative;
	left: -10px;
	top: -40px;
	visibility: hidden;
}

.container {
	position: relative;
/* 	user-select: none; */
	width: 360px;
	margin: 0px auto;
/* 	user-select: none; */
}

img .hyoji, #image{
	width: 360px; /* トリミングしたい枠の幅 */
	height: 360px; /* トリミングしたい枠の高さ */
	overflow: hidden;
}

/* .kazari { */
/* 	-webkit-transform: translate3d(100%, -50%, 0); */
/*           transform: translate3d(250px, -50px, 0); */
/* } */

.hyoji{
	visibility:hidden;
	position: absolute;
	margin:auto;
	top:0px;
	left:0px;
	border-radius:50%;
box-shadow:-22px -20px 15px -7px #c2c2c2 inset,1px -1px 34px -11px #6e6e6e inset;
-moz-box-shadow:-22px -20px 15px -7px #c2c2c2 inset,1px -1px 34px -11px #6e6e6e inset;
-webkit-box-shadow:-22px -20px 15px -7px #c2c2c2 inset,1px -1px 34px -11px #6e6e6e inset;
/* 	border:solid yellow 5px; */
}

.rect {
	position: relative;
	width: 360px;
	top: -20px;
}

.circle-guide {
	pointer-events: none;
	position: absolute;
	margin: auto;
	width: 280px;
	height: 280px;
	border-radius: 50%;
	border: 2px dashed white;
	top: 40px;
	left: 40px;
}

.dragArea {
	display: inline;
	width: 356px; /* トリミングしたい枠の幅 */
	height: 356px; /* トリミングしたい枠の高さ */
	position: absolute;
	left: 0px;
	top: 0px;
	border: 2px dashed #eee;
	text-align: center;
}



.vertical_middle {
	position: relative;
	top: 150px;
	left: auto;
}

.dragArea.over {
	border: 2px dashed #eee;
	left: 0px;
	top: 0px;
}

.dragArea.dropped {
	pointer-events: none;
	border: none;
}



@media screen and (max-width: 480px) {
	/* 表示領域が800px以上の場合に適用するスタイル */
	.dragArea {
		visibility: hidden
	}
	#dropBtn {
		visibility: hidden
	}
	.cotion_text {
		display: none
	}
	.fileupImg {
	visibility: visible
	}
}

.cropper-view-box, .cropper-face {
	border-radius: 50%;
}@CHARSET "UTF-8";